*{
  margin: 0;
  padding: 0;
}
body{
  background-color:tan; 
        
}
.bgimg{
  background-image: url("./images/ss.jpg");
  position: absolute; 
  height: 100%; 
  width: 100%; 
  background-size: cover; 
  filter: blur(3px); 
  z-index: -1; 
}
h1{
  text-align: center;
  margin: 20px;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.Navbar h1{
  
    text-align: center;
    margin: 0px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  
}
.box{
  height:20vh;
  width:20vh;
  background-color:red;
  margin:Auto;
  border:4px solid black;
  border-radius:50px;
  font-size:80px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}
.but{
  text-align: center;
  
}

.mantra{
  background-color: rgba(255, 255, 255, 0.566);
}

p{
  margin: 10px;
}
button{
  border-radius: 20px;
}
.congo{
  position: fixed;
  top: 0;
  left: 0;
  width: 91vw;
  height: 94vh;
  z-index:99;
  background-color: rgba(255, 255, 255, 0.667);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 3px solid black;
  }
  .congo p{
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
  }
.hide{
  display:none;
}
.aud{
  text-align: center;
  width: 100%;
}
audio{
  width: 80%;             
}


.container{
  display: flex;
  margin: 0%;
  overflow: hidden;
  height: auto;
  width: 100%;
  gap: 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.boxes{
  height: 60%;
  width: 38vh;
  background-color: white;
  margin: 6%;
  border-radius: 10px;
}

.boxes:hover{
  background-color:rgba(255, 255, 255, 0.785);
 &.boxes img{
  animation:big 1s ease-in-out 0s 1;
  animation-fill-mode: forwards  ;
 }

}

h2{
  text-align: center;
  line-height: 10vh;
  padding: 10px;

}
.boxes img{
  margin: 10px;
  height: 90px;
  width: 70px;

}

h3{
  text-align: center;
  font-size: 30px;
  color: white;
}

.playerbox{
  height: 100vh;
}
.player{
  height: 100vh;
}

@keyframes big{
  0%{
    height: 90px;
    width: 70px;
  }

  100%{
    height:130px;
    width: 110px;
  }
}




.arti-box{
  height: 40%;
  width: 33vh;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 25vh;
  margin: 20px;
}


.bg{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  /* filter: blur(3px);  */
  z-index: -1; 
}

.playbar{
  height: 70px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  position: absolute;
  bottom: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;

}
.play,.forw,.backw{
    font-size: 50px;
    border: none ;
    background-color: rgba(255, 255, 255, 0);
}

.icon{
  height: 100vh;
  width: 50vh;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  
  
}
.like{
  font-size: 50px;
    border: none ;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    top: 30vh;
    color:white;
}

.comment{
  font-size: 50px;
  border: none ;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  top: 35vh;
  color:white;
  right: 1;
}
.share{
  font-size: 50px;
  border: none ;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  top: 40vh;
  color:white;
  right: 1;
}



.hide{
  display: none;
}

.lyrics{
  position: relative;
  top:100vh;
  text-align: center;
  padding: 5vh;
  font-weight: 700;
}
.lyrics-text{
  text-align: center;
}
.thali{
  height: 60vh;
  width: 90vh;
  top: 20vh;
  left:33vh;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  animation: rotate 4s infinite ease-in-out;
}
.thali img{
  height: 30vh;
  width: 30vh;
  position: relative;
  animation: counter-rotate 4s infinite ease-in-out;
  /* transform: translate(0, 50%); */
}

.Navbar{
  height: 8vh;
  width: 100vw;
  background-color: rgb(225, 187, 114);
}



@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes counter-rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}














@media screen and (max-width: 800px) {
  .boxes{
    width: 80%;
    height: 30%;

  }
  .container{
   
    flex-direction: column;
   
  }
  .icon{
    width:8vh;
  }
  .thali{
    height: 60vh;
    width: 80vh;
    top: 20vh;
    left: 0vh;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    animation: rotate 4s infinite ease-in-out;
  }
}
