*{
  margin: 0px;
  padding: 0px;
}
.bgimg{
  background-image: url("ss.jpg");
  position: absolute; 
  height: 100%; 
  width: 100%; 
  background-size: cover; 
  filter: blur(3px); 
  z-index: -1; 
}
h1{
  text-align: center;
  margin: 20px;
}
.box{
  height:20vh;
  width:20vh;
  background-color:red;
  margin:Auto;
  border:4px solid black;
  border-radius:50px;
  font-size:80px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}
.but{
  text-align: center;
  
}

.mantra{
  background-color: rgba(255, 255, 255, 0.566);
}

p{
  margin: 10px;
}
button{
  border-radius: 20px;
}
.congo{
  position: fixed;
  top: 0;
  left: 0;
  width: 91vw;
  height: 94vh;
  z-index:99;
  background-color: rgba(255, 255, 255, 0.667);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 3px solid black;
  }
  .congo p{
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
  }
.hide{
  display:none;
}
.aud{
  text-align: center;
  width: 100%;
}
audio{
  width: 80%;             ;
}